body{
    background-color: rgb(54, 9, 9);
}
h1{
    background-color: darkred;
    padding: 5;
}
h2{
    background-color: darkred;
    color: rgb(4, 97, 32);
    display: inline;
    padding: 2;
}
h3{
    background-color: darkred;
    color: rgb(66, 109, 73);
    display: inline;
    padding: 5;
}
ol{
    background-color: darkred;
    color: rgb(11, 11, 134);
    display: inline-table;
    padding: 20;
}
ul{
    background-color: darkred;
    color: rgb(16, 139, 123);
    display: inline-table;
    padding: 20;
}
img{
    padding: 25;
}